<%
def span_tokens(text)
  span_tags(span_mentions(text))
end

def span_tags(text)
  text.gsub(/((?:^|\s)#[\w]*)/, '<span class="tag">\1</span>')
end

def span_mentions(text)
  text.gsub(/((?:^|\s)@[\w]*)/, '<span class="mention">\1</span>')
end
%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Instagram test</title>

  <style>
    header, footer {
      display: block;
    }

    body {
      font: 16px/1.2em Helvetica, Arial, sans-serif;
      margin: 0;
    }

    .page {
      padding: 1em;
      width: 612px;
    }

    .header {
      line-height: 50px;
      margin-bottom: 1em;
    }

    .header .profile_picture {
      margin-right: 1em;
    }

    .profile_picture {
      height: 50px;
      vertical-align: middle;
    }

    .username {
      color: steelblue;
      font-weight: bold;
    }

    .tag, .mention {
      color: steelblue;
    }
  </style>
</head>

<body>
  <div class="page">
    <header class="header">
      <img class="profile_picture" src="<%= data.user.profile_picture %>" />
      <strong class="username"><%= data.user.username %></strong>
    </header>

    <div class="content">
      <img class="image" src="<%= data.images.standard_resolution.url %>" />
    </div>

    <% unless data.caption.empty? %>
      <footer class="footer">
        <p class="caption">
          <span class="username"><%= data.caption.from.username %></span>
          <%= span_tokens data.caption.text %>
        </p>
      </footer>
    <% end %>
  </div>
</body>
</html>
